body{
    margin: 0px;
    text-align: center;
    position: relative;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
h1{
    color: #66bfbf;
    width: 30%;
    margin: 0px auto 0px auto;
    line-height: 3;
    font-family: 'Sacramento', cursive;
    font-size: 100px;

}
p{
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}
h2{
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif; 
    padding-bottom: 10px; 
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
hr{
    border: dotted #caebeb 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto 100px auto;
    
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}
a:hover{
    color: #eaf6f6;
}
.span{
    margin-top: 0px;
    font-size: 20px;
}
.hello{
    width: 30%;
    margin: auto;
}
.cloud1{
    width: 150px;
    height: 100px;
    position: absolute;
    right: 300px;
    top: 30px;
}
.cloud2{
    width: 150px;
    height: 100px;
    position: absolute;
    left: 300px;
    top: 300px;
}
span{
    text-decoration: underline;
}
.top{
    background-color: rgb(180, 211, 203);
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.HTML5{
    float: left;
    margin-right: 30px;
}
.CSS3{
    float: right;
    margin-left: 30px;
}
.JavaScript{
    float: left;
    margin-right: 30px;
}
.FOOD{
    float: right;
    margin-left: 30px;
}
.mid{
    margin: 100px 0px;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px auto;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
    background-image: -o-linear-gradient(top, #11cdd4, #11999a);
    background-image: linear-gradient(to bottom, #11cdd4, #11999a);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .bottom{
    background-color: rgb(180, 211, 203);     
    padding: 50px 0px 20px;
  }
  .copyright{
      color: #eaf6f6;
      font-size: 0.75rem;
      padding: 20px 0px;
  }